@import "mixins.styl"

.cells
  background #fff

.cell
  position relative
  display flex
  align-items center
  width 100%
  min-height 45px
  padding 0 15px
  line-height 20px
  font-size 16px
  color #333

  &:not(:last-child)
    bottom-1px-border(#ddd)

    &:after
      right 15px
      left 15px

  &.is-access
    .cell-ft
      padding-right 12px

      &:after
        content ''
        position absolute
        top 50%
        right 15px
        display inline-block
        width 8px
        height 8px
        border-top 1px solid #999
        border-right 1px solid #999
        margin-top -5px
        transform rotate(45deg)

  .cell-hd
    margin-right 15px

  .cell-bd
    flex 1
    min-width 0

  .cell-ft
    font-size 14px
    color #999

  .cell-desc
    font-size 12px
    color #999
